@import url('https://fonts.googleapis.com/css?family=Cinzel|Slabo+27px');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  :root {
    --card-height: 20px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  

body {
  background-image: url('../img/background.png');
  background-size: cover; 
  font-family: 'Roboto Slab', serif;
  color: white;
  height:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

h1{
    font-weight: 300;
}

.modal-content {
    color: black;
}

.modal_card {
    height:70%;
    width:70%;
    display: flex;
    align-items: center;ß
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0.5em;
}

.drawn_card {
  max-height:194px;
  max-width:112px;
  display:flex;
  margin-left:.01em;
  margin-right:.01em;
  margin-bottom:auto;
  border-radius:10px;
  margin-top:0.01em;
}

.flipped {
    transform: rotate(180deg);
}

.drawn_card:hover {
  cursor:pointer;
}

.header > h1:hover {
  cursor:pointer;
}
/*Style for the text above the cards*/
.card_position {
    font-weight:bold;
    font-size:.7em;
    max-width:109px;
    text-align:center;
    margin-bottom:0;
    margin-top:0;
}

.wrapper {
    margin-top: 80px;
  flex-grow:1;
  display:grid;
  grid-row-gap:0;
  grid-template-areas:
  "header"
  "spread_selection"
  "deck"
  "spreads"
  "footer"
}

.header {
  grid-area:header;
  margin:1em;
}

.rule_of_three {
    grid-area: rule_of_three;
}

.true_love {
    grid-area:true_love;
}

.success {
    grid-area:success;
}

.deckspot {
    grid-area:deck;
}

.footer {
  grid-area: footer;
  text-align:center;
}

.header {
    grid-row: 1;
    text-align:center;
  }

#spread_selection {
    display: flex;
    justify-content: center;
    gap: 40px;
}
#spread_selection > div > p {
    font-size: .75em;
    font-style:italic;
    padding-left:1em;
    padding-right:1em;
}

#spread_selection > div > h6 {
    padding-left:.7em;
    padding-right:.5em;
    padding-top:.3em;
}

#spread_selection > div {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
}

#spread_selection .title-img {
    width: 200px;
    border-radius: 15px;
}

#spread_selection > div:hover {
    cursor:pointer;
    transform: scale(1.1);
}

#deck_here {
    display:none;
}

#deck_area {
    display: block;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.deck {
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.deck::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.deck:hover {
    cursor:pointer;
}

.deck:hover::after {
    opacity: 1;
}

#rule_of_three {
    margin:.5em;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#rule_of_three > p [class="1_description"] {
    grid-area: firstd;
    grid-column:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rule_of_three > p [class="2_description"] {
    grid-area: secondd;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rule_of_three > p [class="3_description"] {
    grid-area: thirdd;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#true_love_spread {
    margin:.5em;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#tl_first_card {
    grid-area:first;
    grid-row: 1;
    grid-column: 1/2;

}

#tl_second_card {
    grid-area:second;
    grid-row:1;
    grid-column:3/4;

}

#tl_third_card   {
    grid-area:third;
    grid-column: 1;
    grid-row:2;

}

#tl_fourth_card {
    grid-area:fourth;
    grid-column:2;
    grid-row:2;

}

#tl_fifth_card {
    grid-area:fifth;
    grid-column:3;
    grid-row:2;
}

#tl_sixth_card {
    grid-area:sixth;
    grid-row:3;
    grid-column:2;

}

#tl_first_card, #tl_second_card, #tl_third_card, #tl_fourth_card, #tl_fifth_card, #tl_sixth_card > img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tl_first_card, #tl_second_card, #tl_third_card, #tl_fourth_card, #tl_fifth_card, #tl_sixth_card > p {
    display: block;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}

#success_spread {
    display:flex;
    margin:.5em;
    justify-content: center;
    gap: 40px; 
}

#suc_first {
    grid-area:first;
    grid-row: 2;
    grid-column: 2;

}

#suc_second {
    grid-area:second;
    grid-row:2;
    grid-column:1;

}

#suc_third   {
    grid-area:third;
    grid-column: 3;
    grid-row:2;

}

#suc_fourth {
    grid-area:fourth;
    grid-column:1;
    grid-row:1;
}

#suc_fifth {
    grid-area:fifth;
    grid-column:1;
    grid-row:3;
}

#suc_first, #suc_second, #suc_third, #suc_fourth, #suc_fifth > img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#suc_first, #suc_second, #suc_third, #suc_fourth, #suc_fifth > p {
    display: block;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}

.new_reading_button {
  display:none;
  margin:1em;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

.tarot-boy {
	position: absolute;
	left: calc(50% - 125px);
    top: calc(50% - 125px);
    z-index: -1;
    transform: scale(1.5);	
}
.tarot-card__icon {
	width: 250px;
	height: 250px;
}
.tarot-card__white-group {
	opacity: 0;
	transform: scale(0.6);
	transform-origin: 50% 50%;
	animation: fade-in-white-elements 4s ease-out forwards;
}
.tarot-card__white-group-rotate {
	transform-origin: 50% 50%;
	animation: rotate-white-elements 180s linear infinite;
}
.tarot-card__white-element {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2.8347;
	stroke-miterlimit: 5;
}
.tarot-card__white-element--radius-line {
	stroke-dasharray: 83.6;
	stroke-dashoffset: 83.6;
	animation: draw-line 1.5s 2s ease-out forwards;
}
.tarot-card__white-element--triangle {
	stroke-dasharray: 284.291;
	stroke-dashoffset: 284.291;
	animation: draw-line 3s 1s ease-out forwards;	
}
.tarot-card__white-element--circle {
	stroke-dasharray: 1042.37;
	stroke-dashoffset: 0;
	transform-origin: 50% 50%;
	animation: draw-dasharray 100s 6s linear infinite;
}
.tarot-card__gold-group--animated {
	transform-origin: 50% 50%;
	animation: rotate-rocking 4.1s cubic-bezier(.6, 0, .4, 1) alternate infinite;
}
.tarot-card__gold-element {
	fill: none;
	stroke: #AD9964;
	stroke-width: 2.8347;
	stroke-miterlimit: 10;
}
.tarot-card__gold-element--line-top {
	stroke-dasharray: 54.969;
	stroke-dashoffset: 54.969;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--line-midtop {
	stroke-dasharray: 95.695;
	stroke-dashoffset: 95.695;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--line-mid {
	stroke-dasharray: 132.229;
	stroke-dashoffset: 132.229;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--inward-curve {
	stroke-dasharray: 197.48;
	stroke-dashoffset: 197.48;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--star-horizonal {
	stroke-dasharray: 124.5;
	stroke-dashoffset: 124.5;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--star-diagonal {
	stroke-dasharray: 92.985;
	stroke-dashoffset: 92.985;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--star-vertical {
	stroke-dasharray: 82.689;
	stroke-dashoffset: 82.689;
	animation: draw-line 4.6s 5.4s ease-out forwards;
}
.tarot-card__gold-element--circle {
	opacity: 0;
	transform: scale(0.5);
	transform-origin: 50% 50%;
	animation: fade-in-gold-circle 2.6s 3s ease-out forwards;
}
.tarot-card__gold-petals-group {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: fade-in 2.6s 4s ease-in forwards;
}
.tarot-card__gold-element--petal {
	stroke-linecap: round;
	stroke-dasharray: 54.969;
	stroke-dashoffset: 54.969;
	animation: draw-line 2.6s 4s ease-out forwards;
}
@keyframes fade-in-white-elements {
	to { opacity: 0.4; transform: scale(1); }
}
@keyframes rotate-white-elements {
	to { transform: rotate(-360deg); }
}
@keyframes fade-in-gold-circle {
	to { opacity: 1; transform: scale(1); }
}
@keyframes draw-line {
	to { stroke-dashoffset: 0; }
}
@keyframes fade-in {
	to { opacity: 1; }
}
@keyframes rotate-rocking {
	0% { transform: rotate(6deg); }
	100% { transform: rotate(-6deg); }
}
@keyframes draw-dasharray {
	0% { stroke-dasharray: 1042.37; transform: rotate(-0deg) }
	40% { stroke-dasharray: 160; }
	80% { stroke-dasharray: 1042.37; }
	100% { stroke-dasharray: 1042.37; transform: rotate(-720deg); }
}